<html>
<head>
	<title>EOS Wallet Pro | Login</title>

	<link rel="shortcut icon" href="favicon.png" type="image/png">

	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
	<div class="lookup-box hide">
		<h1 class="lookup-tit">Lookup Account</h1>
		<form id="lookup-form">
			<input type="text" placeholder="Enter account name. E.g. 'eosio'" class="lookup-dimensions lookup-val">
			<input type="button" value="LOOKUP ACCOUNT" class="lookup-but button-green">
		</form>
		<h3 class="left-lookup" id="account-name-lookup">Account name: </h3>
		<h3 class="left-lookup" id="balance-lookup">Balance: </h3>
		<h3 class="left-lookup" id="ram-lookup">Ram quota: </h3>
		<h3 class="left-lookup" id="bandwidth-lookup">Delegated bandwidth: </h3>
		<h3 class="left-lookup" id="creation-lookup">Creation date: </h3>
		<button id="lookup-done" class="button-green">DONE</button>
	</div>

	<div class="welcome-box">
		<h1 class="lookup-tit">Welcome!</h1>
		<div id="x-box">
			<h1 id="jungle-test"><b id="note">Please note:</b> eoswalletpro is not running on the mainnet! We are currently live on "JUNGLE testnet" - a community testnet that is using v4.1.0 of Dawn. On behalf of the whole <em>Hashbit</em> team, we would like to say a huge thanks to <em>Block.One</em>, <em>Scatter</em> and the community for developing the software necessary for eoswalletpro to run properly!</h1>
			<h1 id="welcome2">EWP is currently in beta but will be fully functional before EOS mainnet launch (June 1st) - There are still a few improvements that we have to make which include: Improving styling on smaller devices (at the moment we are only optomised for screens 13" and above), adding support for <em>Scatter</em>, account generation, implementing the extra features that some of the buttons have.</h1>
			<h1 id="welcome3">You can create a testnet account at <a href="http://dev.cryptolions.io/#account">http://dev.cryptolions.io/#account</a> and get free testnet coins to play around with from <a href="http://dev.cryptolions.io/#faucet">http://dev.cryptolions.io/#faucet</a></h1>
		</div>
		<button id="welcome-done" class="button-green">Okay, got it</button>
	</div>

	<div id="title-box">
		<h1 id="title">eoswalletpro.com</h1>
	</div>

	<div class="login show">
	<header id="header"><div id="header-box"><h1 id="hashbit-text">HASHBIT</h1><h1 id="eos-price">1 EOS: <%= price%> USD</h1></div></header>
	<div id="login-box">
		<div id="telegram1"><button id="telegram" class="button-blue" onclick="window.open('https://t.me/eoswalletpro','_blank');">Join us on Telegram</button></div>
		<div id="twitter1"><button id="twitter" class="button-blue" onclick="window.open('https://twitter.com/eoswalletpro','_blank');">Twitter</button></div>
		<div class="login-inputs">


		<form class="login-pos" autocomplete="off">
			<h2 id="error-account" class="hide">Error: You either entered an invalid account or your private key does not match account permissions</h2>
			<h2 class="unlock-title">Unlock Wallet</h2>
			<div id="x">
				<input type="text" name="account-set" placeholder="Enter account" id="account-set" class="acct-login" autocomplete="nope">
				<input type="text" autocomplete="off" name="privKey" placeholder="Enter your 'active' private key" id="privkey" class="priv-login">
				<input type="button" value="UNLOCK" id="loginbut" class="login-buts">
				<input type="button" value="SCATTER" id="scatter-unlock">
			</div>
		</form>
		<form class="login-pos">
			<h2 class="unlock-title">Create Wallet</h2>
			<input type="text" id="userrand" placeholder="Enter some random characters" class="login-dimensions">
			<input type="button" value="CREATE" id="createacct" class="login-buts">
		</form>

		<div id="block-dis">
			<h1 class="block-title">Block Info </h1>
			<div class="block-deets">
				<h3 class="blocknum">Last block: <%= lastBlock%></h3>
				<h3 class="mined">Mined by: <%= miner%></h3>
				<h3 class="interval">Timestamp: <%= timestamp%></h3>
				<h3 class="latency">CPU limit: <%= cpulimit%></h3>
			</div>
		</div>

		</div>
		<div class="what-is-eos">
			<div class="what-container">
				<h2 id="what-title">Security</h2>
				<p id="what-para">When using eoswalletpro, it is recommended to have <em>only</em> this tab open - you should also make sure to close the tab when you are finished. We recommend that you do not store your private keys in any unencrypted files, leave them open or, share them with anyone. Please make sure that the url of eoswalletpro includes either, a small green padlock or a green <p1 style="color: #00DF80">https:</p1>. Remember, no member of the Hashbit or eoswalletpro team will ever ask for your private keys.</p>
			</div>
		</div>
		<div class="extra-buttons">
			<div class="button-pos">
				<button class="how-buttons how button-blue">How does EWP work?</button>
				<button class="how-buttons explorer button-blue">Explorer</button>
				<button class="how-buttons what-is button-blue">What is Eos?</button>
			</div>
			<button class="lookup button-green" id="lookupacct">Lookup Account</button>
		</div>
	</div>

	<div class="create-box hide">
		<h1 class="lookup-tit">Create Wallet</h1>
		<div id="pubkey-create" class="keydiv">
			<h3 id="pubkeytit">Your Public Key</h3>
			<h3 class="keydisplay" id="pubkeydis"></h3>
		</div>
		<div id="privkey-create" class="keydiv">
			<h3 id="privkeytit">Your Private Key</h3>
			<h3 class="keydisplay" id="privkeydis"></h3>
			<h3 id="warning">Please make sure you store your keys somewhere safe</h3>
		</div>
		<h3 class="generate-acct-name">Okay, now you will have to generate an account... Just click the button below and then enter your generated public key in both fields and choose a random account name with letters ranging from (a-z and 1-5). After that, you will be able to login.</h3>
		<button id="generate-but" onclick="window.open('http://dev.cryptolions.io/#account','_blank');">GENERATE ACCOUNT</button>
		<h1 id="cross">X</h1>
	</div>
	</div>

	<!------------------------------------------------------------------------------->

	<!--------------------------------- MAIN WALLET --------------------------------->

	<!------------------------------------------------------------------------------->

	<div class="main-wallet hide">
		<header id="header"><div id="header-box"><h1 id="hashbit-text" class="header-text">HASHBIT</h1><h1 id="walletpro-text" class="center header-text">eoswalletpro.com</h1><h1 id="eos-price" class="header-text">1 EOS: <%= price%> USD</h1></div></header>

		<div id="account-details" class="center box">
			<h1 id="account-name" class="account-names">dylan</h1>
			<h1 id="balance-head" class="account-names">Balance: <button id="get-coins" class="button-green" onclick="window.open('http://dev.cryptolions.io/#faucet','_blank');">Get Coins</button> </h1>
			<h1 id="ram-head" class="account-names">Ram: 99283</h1>
			<button id="qr-but" class="account-names button-blue">QR Address</button>
		</div>

		<div id="send-box" class="box">
			<h1 id="send-title" class="center">Transaction</h1>
			<form id="send-form">
				<p class="send-subs" id="to-sub">To Account</p>
				<input type="text" id="to" placeholder="Enter account recipient" class="send-bars center">
				<p class="send-subs" id="amount-sub">Amount to send</p>
				<input type="text" id="amount" class="send-bars center" placeholder="Enter amount to send">
				<select id="selector">
					<option value="EOS">EOS</option>
				</select>
				<p id="send-all">Send entire balance</p>
			</form>
			<button id="send-but" class="center button-green">Send Transaction</button>
			<div id="success" class="center hide">
				<h3 id="success-message">Success! Your transaction was broadcast: It should confirm within 0.5 - 2 seconds</h3>
				<h2 id="tx-id"></h2>
			</div>
		</div>

		<div id="block-info" class="box">
			<h1 class="block-tit">Last block: #<%= lastBlock%></h1>
			<div class="block-i">
				<button class="button-blue blocks center" id="get-account">View Account History</button>
				<button class="button-green blocks center" id="buy-eos">Lookup Account</button>
				<button class="button-green blocks center" id="buy-token">Purchase EOS</button>
				<button class="button-green blocks center" id="buy-tokens">Purchase Tokens</button>
			</div>
		</div>

	<div id="account-box" class="center box">
		<div id="account-deets">
			<h1 id="account-deet-title">Your Account Details</h1>
			<div id="further-deets">
				<h1 id="account-balance" class="account-subs">Balance: 0 EOS</h1>
				<h1 id="cpu-limit" class="account-subs">CPU limit: 0</h1>
				<h1 id="ram-usage" class="account-subs">Ram usage: 0</h1>
				<h1 id="ram-quota" class="account-subs">Ram quota: 0</h1>
				<h1 id="delegated-bandwidth" class="account-subs">Bandwidth: 0</h1>
				<h1 id="staked-voting" class="account-subs">Created: Your account must have a balance in order to show creation date</h1>
			</div>
		</div>
		<div id="token-balance-box">
			<h1 id="token-balance-title">Your Token Balances</h1>
			<div id="columns">
				<ul id="column1">
				</ul>
				<ul id="column2">
				</ul>
			</div>
		</div>
	</div>
	<div id="padd"></div>
</div>

</body>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="/app.js"></script>
<link rel="stylesheet" type="text/css" href="wallet.css">

</html>